In [73]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [74]:
df = pd.read_csv('Amazon Sale Report.csv', low_memory=False)

In [75]:
# Preview data
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [76]:
# Remove Unwanted Columns

In [77]:
columns_to_remove = ["index", "Unnamed: 22"]
df = df.drop(columns=columns_to_remove, errors="ignore")

In [79]:
df.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
dtype: object

In [80]:
# Convert Date Formats and shiping postal code formate

In [81]:
df['Date'] = pd.to_datetime(df['Date'])
df['ship-postal-code'] = df['ship-postal-code'].astype('Int64').astype('string')

In [82]:
#Clean Numeric Columns

In [83]:
df["Amount"] = pd.to_numeric(df["Amount"])
df["ship-postal-code"] = pd.to_numeric(df["ship-postal-code"])
df["Qty"] = pd.to_numeric(df["Qty"])

In [84]:
# Fill missing numeric values

In [85]:
df = df.fillna({
    "Amount": df["Amount"].median(),
    "Qty": df["Qty"].median(),
    "ship-postal-code": 0
    })

In [86]:
df.columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [90]:
# before cleaning and filling

In [91]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                    0
ship-city                33
ship-state                0
ship-postal-code          0
ship-country              0
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [92]:
df['ship-state'] = df['ship-state'].fillna('Unknown')

In [93]:
df['ship-country'] = df['ship-country'].fillna('Unknown')

In [94]:
df['Courier Status'] = df['Courier Status'].fillna('Not Updated')

In [95]:
df['currency'] = df['currency'].fillna('Not Updated')

In [96]:
df['fulfilled-by'] = df['fulfilled-by'].fillna('None')

In [97]:
df['promotion-ids'] = df['promotion-ids'].fillna('Not Available')

In [98]:

df['Amount'] = df['Amount'].fillna(0)  
df['ship-postal-code'] = df['ship-postal-code'].fillna('Unknown')

In [99]:
df['ship-city'] = df['ship-city'].fillna('Unknown')

In [100]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
dtype: int64

In [101]:
#Remove rows with missing Order ID

In [102]:
df = df[df["Order ID"].notna()]

In [103]:
# Remove duplicate rows

In [104]:
df = df.drop_duplicates()

In [105]:
 # Standardize Text Values

In [106]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

In [33]:
# Save final cleaned dataset

In [108]:
df.to_csv("Final_cleaned_amazon_sales.csv2", index=False)
print("✨ Data Cleaning Completed!")

✨ Data Cleaning Completed!